.App {
  text-align: center;
}

div.header {
  font-size: larger;
  padding : 30;
  
}
button.del-btn {
  background-color: black;
  border-radius: 50px;
}

button.del-btn:hover {
  background-color: rgb(223, 181, 30);
}

h3.addbook {
  color:rgb(255, 0, 153);
  font-size: larger;
}

input.submit {
  width: 100px;
  background: #de0993;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
 div.container {
  padding: 50px 100px 200px;
  background-image: url(https://us.123rf.com/450wm/tomertu/tomertu2203/tomertu220300689/184025429-image-of-open-antique-book-on-wooden-table-with-vintage-key.jpg?ver=6;);
}
input.input-text{
  padding: 15px;
  border: 1px solid #e112d0;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #38050f;
  font-size: 13px;
}

a.active {
  color: red;
}

a:hover {
  color: pink;
}

a.details{
  color: brown;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}
a.details:hover {
  color:black
}
div.summary {
  color:black;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}


div.header {
 background-color: rgb(227, 219, 230);
}

div.search {
  color:black;
}


ul.books{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 10rem;
    row-gap: 1rem;
    margin-top: 2rem;
}

div.title {
  color: rgb(22, 1, 1); 
  font-style: italic;
}
div.year {
  color:palevioletred;
  font-family: fantasy;
}

img.img {
  width: 125px;
}

div.home {
  background-image: linear-gradient(aqua, rgb(70, 0, 128)) ;
  padding: 50px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

 
