.App {
  text-align: center;
}

div.header {
  font-size: larger;
  padding : 30;
  
}
a.active {
  color: red;
}

a:hover {
  color: pink;
}

a.details{
  color: brown;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.summary {
  color:black;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

div.input {
    
}

div.header {
 
}

div.search {
  color:black;
}

input.prompt {
  font-weight: bold;
  color:blueviolet
}

ul.books{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 10rem;
    row-gap: .25rem;
    margin-top: 1rem;
}

form.addBookForm {

}

div.title {
  color: maroon; 
  font-style: italic;
}
div.year {
  color:palevioletred;
  font-family: fantasy;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

 
